<div class="content" role="main">
	<h1>Choose your drum kit</h1>

	<mat-card>
		<mat-card-content class="order-options-container">
			<div class="order-options-container">
				Order options : 
				<div class="order-options">
					name
					<button mat-button (click)="sortByName()" [disabled]="isButtonDisabled('name')">
						<mat-icon>arrow_drop_up</mat-icon>
					</button>
					<button mat-button (click)="sortByNameReverse()" [disabled]="isButtonDisabled('nameReverse')">
						<mat-icon>arrow_drop_down</mat-icon>
					</button>
				</div>
				<div class="order-options">
					author
					<button mat-button (click)="sortByAuthor()" [disabled]="isButtonDisabled('author')">
						<mat-icon>arrow_drop_up</mat-icon>
					</button>
					<button mat-button (click)="sortByAuthorReverse()" [disabled]="isButtonDisabled('authorReverse')">
						<mat-icon>arrow_drop_down</mat-icon>
					</button>
				</div>
				<div class="order-options">
					number of samples
					<button mat-button (click)="sortByNumberOfSamples()" [disabled]="isButtonDisabled('numberOfSamples')">
						<mat-icon>arrow_drop_up</mat-icon>
					</button>
					<button mat-button (click)="sortByNumberOfSamplesReverse()" [disabled]="isButtonDisabled('numberOfSamplesReverse')">
						<mat-icon>arrow_drop_down</mat-icon>
					</button>
				</div>
			</div>

			<mat-form-field class="search-form">
				<mat-label>Seach by drum kit name or author name</mat-label>
				<input matInput placeholder="" [(ngModel)]="filterInput" (ngModelChange)="onFilterInputChange()">
				
				<mat-icon matSuffix *ngIf="filterInput == ''" class="grey-icon">search</mat-icon>
				<mat-icon matSuffix *ngIf="filterInput != ''" (click)="resetFilter()">clear</mat-icon>
			</mat-form-field>

			<hr>
		</mat-card-content>

		<mat-card-content>
			<mat-action-list *ngIf="filteredDrumKits.length > 0">
				<app-drumkit-list-element *ngFor="let drumKit of filteredDrumKits" [drumKit]="drumKit"></app-drumkit-list-element>
			</mat-action-list>
			<div *ngIf="filteredDrumKits.length < 1 && filterInput != ''">
				No result
			</div>
		</mat-card-content>

	</mat-card>

</div>