<div class="content" role="main">

  <h2>Welcome</h2>

  <p>
    This is my first Angular project.<br>
    I tried as much as possible to manage the architechture with good practices.<br>
    It is a simple musical app where you choose a drumkit and then you can play with it like on a drum machine.
    For now now it is ment to be played on a touch screen device like a tablet or a big screen cellphone.<br>
    Later I will implement MIDI input ( to get inputs from a physical keyboard or any MIDI device ) and keyboard ( to get inputs from either way a computer keyboard or a Makey Makey )<br>
    Some drumkit creation would be nice too but I would have to dive deeper into the Angular docs.
  </p>

  I used :<br>
  <ul>
    <li>
      A simple solution to order/filter drumkits in the "choose a drumkit" page's list<br>
      I only display a copy of the drumkits, called "filteredDrumKits". When a search input is provided, it serves at receiving the filtered results. When no search input is provided it is the same as the original drumkits array.<br>
      That same array is used when ordering the results.
    </li>
    <li>
      Angular services to make some data available to the whole app.<br>
      If I had more time to spend on this app I would have tried to implement a Flux
    </li>
    <li>
      Angular Material library to style the components and make use of multitouch screen on tablets
    </li>
  </ul>
  
  <p>
    This first try at making an app with Angular and Typescript was a good surprise when it came to discover the basics.<br>
    I now understand where most of the template syntaxe of Vue.js comes from. From the loops to the conditionnal rendering. Vue.js' Observables are also inpired a lot from Angular's Observables.<br>
    For the typescript part. The syntaxe hurts a lot at first but I understoud a lot of its capabilities.
    It really unleash javascript POO abilities. ( In vanilla JS, having constructor and accessors without the possibility to have private variable feels strange to me but that does not with Typescript )<br>
    Typed variable is really cool since it saves a lot of time not having to implement types validators.
  </p>

    <h3>The repository :</h3>
    <a href="https://github.com/xLeDocteurx/Far-Worst-Angular-Drum-Machine">https://github.com/xLeDocteurx/Far-Worst-Angular-Drum-Machine</a>

</div>